---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@mixin clearFloat {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0;
}

article.post {
  margin: 0 0 60px 0;
}

section.index {
  margin-top: 30px;
  h2 {

  }
}

ul.categories {
  padding: 0 0 15px 0;
  li {
    display: inline;
    &:first-child {
      padding-left: 0;
    }
  }
}

pre code {
  line-height: 1.8em;
}


.post-nav {
  .prev { float: left; }
  .next { float: right; }

  &:after {
    @include clearFloat;
  }
}

header {
  margin-bottom: 50px;
}

footer {
  text-align: right;
  margin-top: 50px;
}

figure {
  margin: 0;
}

pre {
  font-size: 11px;
}


/* phones */
@media screen and (max-width: 768px) {

  header {
    padding-top: 10px;
  }

  footer {
    padding-bottom: 20px;
  }

  section.index  li {
    padding-left: 0;
  }

  section.index li:after,
  section.index li:before,
  section.index li span {
    display: none;
  }

  .post-nav {

    a {
      display: block;

      &.next {
        float: left;
      }

      & + a {
        margin-top: 20px;
      }
    }
  }


}
