---
layout: default
---

<div class="home">

</div>

{% for post in site.posts limit:1 %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-content" itemprop="articleBody">
    {{ post.content }}
  </div>

  <p class="post-meta">

    <ul class="categories">
    {% for cat in post.categories %}
      <li>{{ cat }} </li>
    {% endfor %}
    </ul>

    <a href="{{ post.url | relative_url }}"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></a>

  </p>

</article>

{% endfor %}

<section class="index">
  <h2>All posts</h2>
  <ul class="post">
    {% for post in site.posts %}
      <li>
        {% comment %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% endcomment %}
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> <span>- <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></span>
      </li>
    {% endfor %}
  </ul>
</section>
