---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}
  </div>

  <p class="post-meta">

    <ul class="categories">
    {% for cat in page.categories %}
      <li><a href="/blog/category/{{ cat }}">{{ cat }}</a></li>
    {% endfor %}
    </ul>

    <time datetime="{{ page.date | date_to_xmlschema }}"  itemprop="pubdate">{{ page.date | date: "%b %-d, %Y" }}</time>
    {% if page.author %}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            {{ page.author }}
          </span>
        </span>
    {% endif %}
  </p>
  <div class="post-nav">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url | relative_url }}">← {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url | relative_url }}">{{page.next.title}} →</a>
    {% endif %}
  </div>

</article>
<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"BlogPosting",
  "@id":"{{ site.url }}{{ page.url }}",
  "datePublished":"{{ page.date | date_to_xmlschema }}",
  "dateModified":"{{ page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "David Miller"
  },
  "image": {
    "@type": "ImageObject",
    "contentUrl": "https://readmeansrun.com/apple-touch-icon.png",
    "url": "https://readmeansrun.com/apple-touch-icon.png"
  },
  "mainEntityOfPage" : "https://readmeansrun.com",
  "publisher": {
    "@type": "Organization",
    "name": "READMEANSRUN",
    "url": "https://readmeansrun.com",
    "logo": {
      "@type": "ImageObject",
      "contentUrl": "https://readmeansrun.com/apple-touch-icon.png",
      "url": "https://readmeansrun.com/apple-touch-icon.png"
    }
  },
  "headline":"{{ page.title }}"
}
</script>
